<template>
  <div id="show-blogs">
      <h2>Search all Articles</h2>
      <input type="text" v-model="search" placeholder="Search Blogs .." />
      <div v-for="blog in filterBlogs" class="singel-blog">
          <h2>{{blog.title}}</h2>
          <article>{{blog.body}}</article>

      </div>

  </div>
</template>

<script>

export default {

  
data(){
  return{
  blogs : [],
  search: ""
  }
},
methods:{

},
created(){
    this.$http.get('https://jsonplaceholder.typicode.com/posts').then(function(data){
        this.blogs = data.body.slice(0,10);
    })
},
computed:{
    filterBlogs: function(){
        return this.blogs.filter((blog) =>{
            return blog.title.match(this.search);
        })
    }
}
}
</script>

<style>

#show-blogs{
    max-width: 800px;
    margin: 0 auto;
}
.singel-blog{
    padding: 20px;
    margin: 20px 0;
    box-sizing: border-box;
    background: #eee;
}
</style>
